.about__content-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.about__left-col {
	display: inline;
}

.about__left-col--inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 100%;
	margin: $main-margin;
}

.about__left-col--text {
	font: normal normal normal 15px/1.4em 'courier new',courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 15px;
	line-height: 1.4em;
	font-family: 'courier new', courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	margin-bottom: $main-margin;
	margin-top: $main-margin;
}

.about__right-col {
	display: inherit;
	margin-right: $main-margin;
}

.about__right-col--inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.about__right-col--image {
	max-width: 70%;
}

.about__right-col--bottom-bar {
	display: flex;
	justify-content: center;
	flex-direction: row;	
}

$image-size: 640px;

@media (min-width: 880px) and (max-width: 5000px) {
	.about--image-size {
		width: $image-size * 0.75;
		height: $image-size * 0.75;
	}
	.about__left-col--text {
		font-size: 16px;
	}
}

@media (min-width: 780px) and (max-width: 880px) {
	.about--image-size {
		width: $image-size * 0.625;
		height: $image-size * 0.625;
	}
}


@media (min-width: 680px) and (max-width: 780px) {
	.about--image-size {
		width: $image-size * 0.5;
		height: $image-size * 0.5;
	}
	.about__left-col--text {
		font-size: 14px;
	}
}


@media (min-width: 620px) and (max-width: 680px) {
	.about--image-size {
		width: $image-size * 0.45;
		height: $image-size * 0.45;
	}
	.about__left-col--text {
		font-size: 13px;
	}
}

@media (min-width: 560px) and (max-width: 620px) {
	.about--image-size {
		width: $image-size * 0.425;
		height: $image-size * 0.425;
	}
	.about__left-col--text {
		font-size: 12px;
	}
}


@media (min-width: 460px) and (max-width: 560px) {
	.about--image-size {
		width: $image-size * 0.4;
		height: $image-size * 0.4;
	}
	.about__left-col--text {
		font-size: 12px;
	}
}