
	<div class='standalone-404--content-container'>
		<div class='standalone-404--content-box'>
			<div class='standalone-404--content-box--row'>

				<div class='standalone-404--content-box--inner-width'>
					<div class='updates--block--title standalone-404--title'>
						404
					</div>
				</div>
				<div class='standalone-404--content-box--inner-width'>
					<div class='updates--block--title standalone-404--title'>
						404 error
					</div>
					<div class='error-404--wrapper'>
						<a href='/index.html'>
							<img src='/img/other/404-error.jpg' class='standalone-404--img'/>
						</a>
					</div>
					<div class='updates--block--title standalone-404--title'>
						Page not found :(
					</div>
				</div>
				<div class='standalone-404--content-box--inner-width'>
					<div class='updates--block--title standalone-404--title'>
					 404
					</div>
				</div>


			</div>
		</div>
	</div>