//contentblock-left
//	--> text-

$font-type__contentblock-left--title:  normal normal normal 30px/1.4em 'courier new', courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
$font-type__contentblock-left--info:  normal normal normal 14px/1.4em 'courier new', monospace;

$font-type__contentblock-left--section-title:	normal normal bold 19px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
$font-type__contentblock-left--section-date: normal normal normal 15px/1.4em 'courier new',courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
$font-type__contentblock-left--see-more-button: normal normal normal 17px/1.4em 'courier new',courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;

$height--contentblock-left--title: 90px;
$height--contentblock-left--title-row: 35px;

$content-padding: 18px;
$padding__contentblock-left--title-around: 7px;

$bgcolor__contentblock-left--content: rgba(230, 230, 230, 1);

@mixin contentblock-left($sectionheight, $fontchosen) {
	background-color: rgba(64, 64, 64, 1);
	color: #FFFFFF;
	font: $fontchosen;
	height: $sectionheight;
	padding-left: $content-padding;
	padding-right: $content-padding;
	vertical-align: middle;
}

@mixin block-lr-margin-change() {
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@mixin contentblock-left--pad-text() {
  padding-left: $content-padding;
  padding-right: $content-padding;
}


.contentblock-area {
	margin-top: 20px;
}

.contentblock-left {
	height: 330px;
	padding-right: $content-padding;
}

.contentblock-left--title {
	@include contentblock-left($height--contentblock-left--title, $font-type__contentblock-left--title);
	padding-top: $padding__contentblock-left--title-around;
	padding-bottom: $padding__contentblock-left--title-around;
}

.contentblock-left--content {
	background-color: $bgcolor__contentblock-left--content;
}

.contentblock-left--title-row {
	@include block-lr-margin-change();
	@include contentblock-left($height--contentblock-left--title-row, $font-type__contentblock-left--title);
	padding-bottom: 1px;
}

.contentblock-left--content-description {
	@include contentblock-left--pad-text();
  padding-top: $content-padding;
	font: $font-type__contentblock-left--info;
}

.contentblock-left--content-title {
	@include block-lr-margin-change();
}

.contentblock-left--content-section {
	@include block-lr-margin-change();
	@include contentblock-left--pad-text();
  padding-top: $content-padding / 3;
}

.contentblock-left--content-section__title {
	@include block-lr-margin-change();
	@include contentblock-left--pad-text();
}
.contentblock-left--content-section__title-row {
	font: $font-type__contentblock-left--section-title;
}

.contentblock-left--content-section__date {
	font: $font-type__contentblock-left--section-date;
}

.contentblock-left--see-more-button-row.row {
	@include block-lr-margin-change();
	@include contentblock-left--pad-text();
	padding-top: $content-padding / 3;
}

.contentblock-left--see-more-button {
	@include block-lr-margin-change();
	@include contentblock-left--pad-text();
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	background-color: rgba(114, 114, 114, 1);
	border: solid rgba(0, 0, 0, 1) 0px;
	color: #FFFFFF;
	font: $font-type__contentblock-left--see-more-button;
}

.three-banners-img-block {
	margin-top: 20px;
}

#three-banners-img {
	max-width:100%;
	max-height:100%;
}